github "Instagram/IGListKit"
github "SwiftyBeaver/SwiftyBeaver"
github "ReactiveX/RxSwift"
github "onevcat/Kingfisher"
github "ReSwift/ReSwift"
github "kishikawakatsumi/KeychainAccess"
github "keitaoouchi/MarkdownView"